<div class="px-4 py-2.5 rounded-lg border-2 border-gray-400">
  <div class="flex-col gap-1">
    <strong>Payload Type</strong>
    <p><%= raw_payload.payload_type.to_s.upcase %></p>
  </div>
  <div class="flex-col gap-1">
    <strong>Payload</strong>
    <p><%= raw_payload.payload %></p>
  </div>
</div>
