<div>
  <ul class="list-disc">
    <% [
      ['MNIST', :mnist],
      ['Wine Quality', :wine_quality]
    ].each do |text, id| %>
      <li><%= link_to text, ml_model_path(id) %></li>
    <% end %>
  </ul>
</div>
